.wrapper {
  margin-top: 15vh;
  position: absolute;
  width: 90vw;
  height: 90vh;
  margin-left: 5vw;
}

.parameters {
  float: left;
}

.code {
  position: relative;
  height: 95%;
  float: left;
  overflow: hidden;
}

.code > ngx-prism {
  height: 100%;
  overflow: hidden !important;
}

.adjust {
    z-index: 10;
    position: absolute;
    cursor: col-resize;
    top: 40vh;
    border-radius: 20px;
    height: 20px;
    width: 20px;
}

.params-zone {
    background-color: green;
    height: inherit;
}

.code-line-numbers {
  position: absolute;
  top: 8vh;
  left: 0;
  width: 28px;
  border-left: 3px solid #808080;
  color: #ae544d;
  border-right: 1px solid #505050;
}

.line-number {
  font-family: Consolas, Monaco;
  text-align: right;
  height: fit-content;
  font-size: 14px;
  line-height: 21px;
  padding-right: 3px;
}
