.wrapper {
  width: 80vw;
  height: 80vh;
  position: absolute;
  top: 5vh;
  left: 10vw;
  background: white;
  border-radius: 15px;
  border: 2px solid #111111;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.55);
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.55);
}

.modal-header {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.search-results {
    width: 100%;
    font-size: 18px;
    padding-left: 10px;
    padding-top: 5px;
}

.modal-button {
  position: absolute;
  height: 6vh;
  width: 10vw;
  border-radius: 8px;
  bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.modal-button:hover {
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.55);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.55);
}

.cancel-button {
  border: 2px solid darkred;
  background-color: #e60000;
  left: 70%;
  line-height: 5vh;
}

.accept-button {
  border: 2px solid darkgreen;
  background-color: #5ce100;
  left: 20%;
}

.preview1 {
  position: relative;
  margin-top: 10px;
  width: 98%;
  margin-left: 1%;
  background-color: #EEEEEE;
  height: 25vh;
  border-radius: 5px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.preview2 {
  position: relative;
  margin-top: 25px;
  width: 98%;
  margin-left: 1%;
  height: 25vh;
  border-radius: 5px;
  overflow-x: scroll;
  background-color: #EEEEEE;
  overflow-y: hidden;
}

.label1 {
    position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: fit-content;
  background-color: #ffd74a;
  border: 1px solid #111111;
  border-radius: 0 0 4px 0;
  font-weight: bold;
  padding-left: 8px;
  padding-right: 8px;
}

.label2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: fit-content;
  background-color: #ffd74a;
  border: 1px solid #111111;
  border-radius: 0 0 4px 0;
  font-weight: bold;
  padding-left: 8px;
  padding-right: 8px;
}

.helper-mzg {
  width: fit-content;
  white-space: nowrap;
}
