.wrapper {
  margin-top: 10vh;
  position: absolute;
  width: 90vw;
  height: 90vh;
  margin-left:10vw;
}

.title{
    margin-top: 5vh;
}

input {
  background: none;
  width: 60vw;
  border: none;
  border-bottom: 1px solid black;
  margin: 15vh 15vh 15vh 0vh;
  font-size: 40px;
  font-weight: bold;
  padding: 12px;
}

textarea:focus, input:focus {
  outline: none;
}

input:focus-visible {
    border: none;
    border-bottom: 1px solid #1570a8;
}

  input:hover {
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.separator{
    display: inline;
}

.next-button {
  background-color: #ffd74a;
  border-radius: 50%;
  position: absolute;
  bottom: 3vh;
  right: 3vh;
  width: 70px;
  height: 70px;
}

span {
  font-weight: bold;
  font-size: 70px;
  position: relative;
  top: -28.5px;
  left: -3px;
}
