<div class="wrapper">
  <div class="modal-header">
    Use your web camera
  </div>

  <div class="which-class" *ngIf="!previewMode">
    Now scan <b>{{ whichClass == 1 ? userClass1 : userClass2 }}</b>.
  </div>

  <div *ngIf="!previewMode">
    <div class="webcam-live">
      <webcam style="margin-left: 300px"
              [trigger]="triggerCapture"
              (imageCapture)="handleImageCapture($event)"></webcam>
    </div>

    <div class="capture-button"
         (click)="startCapturing()"
         *ngIf="!capturingNow">
      start capturing
    </div>
    <div class="capture-counter" *ngIf="imageCapturesClass1.length > 0 || imageCapturesClass2.length > 0">
      {{whichClass == 1 ? imageCapturesClass1.length : imageCapturesClass2.length}}
    </div>

    <div class="stop-capture-button"
         (click)="stopCapturing()"
         *ngIf="capturingNow">
      stop capturing
    </div>

    <div class="preview-captures"
         (click)="nextClass()"
         *ngIf="!capturingNow && imageCapturesClass1.length > 0">
      next
    </div>

    <div *ngIf="imageCapturesClass1.length > 0 && imageCapturesClass2.length > 0 && !capturingNow" (click)="openPreviewCaptures()" class="preview-captures">preview</div>
  </div>

  <div *ngIf="previewMode" class="preview-area">
    <div class="preview-area-first">
      <div *ngFor="let image of imageCapturesClass1">
        <img style="display:inline; float: left; height: 80px; margin-left: 5px; margin-top: 2px" [src]="image" />
      </div>
    </div>

    <div class="preview-area-second">
      <div *ngFor="let image of imageCapturesClass2">
        <img style="display:inline; float: left; height: 80px; margin-left: 5px; margin-top: 2px" [src]="image" />
      </div>
    </div>
  </div>

  <div *ngIf="previewMode" class="back-from-preview" (click)="closePreview()">
    back
  </div>

  <div class="modal-button cancel-button" (click)="close()">Cancel</div>

  <div class="modal-button accept-button" (click)="useWebcamCapture()">use webcam capture</div>
</div>
