<div class="wrapper">
  <div class="page-header">Training Data Set</div>

  <div class="import-page-content">
    Machine learning models work using a training set, in this case this model will have to be trainied using pictures of
    <b>{{userClass1}}</b> or <b>{{userClass2}}</b>. You now have to choose where to get those pictures from.
  </div>

  <div class="get-images-from">Get training images from:</div>

  <div class="import-option" (click)="openOurDatabaseModal()">
    <img style="padding-left: 5vw" src="../../../assets/images/image-database.png" />
    <div class="option-name">Use our Image Database</div>
  </div>

  <div class="import-option" (click)="openWebcamModal()">
    <img style="padding-left: 5vw" src="../../../assets/images/webcam-icon.png" />
    <div class="option-name">Use your web camera</div>
  </div>

  <div class="import-option" (click)="openOurDatabaseModal()">
    <img style="padding-left: 5vw" src="../../../assets/images/upload-icon.png" />
    <div class="option-name">Upload Images</div>
  </div>

  <app-import-from-database-modal *ngIf="showDatabaseModal" (cancelEvent)="closeDatabaseModal()"></app-import-from-database-modal>
  <app-use-webcam-page *ngIf="showWebcamModal" (cancelEvent)="closeWebcamModal()"></app-use-webcam-page>
</div>
